Playground/Playground.VC.opendb
Playground/Playground.sdf
Playground/Playground/Debug
Playground/Playground/Release
Playground/x64
Playground/Playground/x64
Playground/Playground/Playground.vcxproj
Playground/Playground/Playground.vcxproj.filters
Playground/Playground/bin32/Playground.iobj
Playground/Playground/bin32/Playground.ipdb
Playground/Playground.VC.db
Playground/.vs
