Playground/Playground.VC.opendb
Playground/Playground.sdf
Playground/Playground/Debug
Playground/Playground/Release
Playground/x64
Playground/Playground/x64
Playground/Playground/Playground.vcxproj
Playground/Playground/Playground.vcxproj.filters
